/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0}
.slick-slider{-webkit-user-select:text;-moz-user-select:text;-ms-user-select:text;user-select:text}
.slick-list.draggable{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
::-moz-selection{background:#b3d4fc;text-shadow:none}
::selection{background:#b3d4fc;text-shadow:none}
html{-webkit-text-size-adjust:100%}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
ol,ul{list-style:none;margin:0;padding:0}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
:focus{outline-width:0}
img{border:0}
textarea{overflow:auto;resize:none}
a{background:0 0}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
audio,canvas,img,video{vertical-align:middle}
fieldset{border:0;margin:0;padding:0}
q:before{content:'* ';color:red}
button{border:none;outline:0}
input{outline:0}
.clearfix:after,.clearfix:before{height:0}
.browsehappy{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}
body,html{height:100%}
body{position:relative;font-weight:300}
h1,h2,h3,h4,h5,h6{font-weight:300;text-align:center}
p{margin-bottom:20px}
.page{min-height:100%;margin-bottom:-95px}
.footer-shiv,footer{clear:both;height:100px}
.content{*zoom:1}
.content:after,.content:before{content:" ";display:table;height:0}
.content:after{clear:both}
header{position:relative;height:100px;border-bottom:1px solid #e6e6e6;background:#fff;-webkit-box-shadow:0 3px 12px #eee;-moz-box-shadow:0 3px 12px #eee;box-shadow:0 3px 12px #eee;behavior:url(assets/css/PIE.htc)}
.logo{display:block;position:absolute;top:50%;left:50%;width:67px;height:67px;text-align:center;overflow:hidden;line-height:65px;margin-left:-33px;margin-top:-33px;-webkit-transition:-webkit-filter .174s;transition:-webkit-filter .174s}
.logo img{vertical-align:middle;max-width:100%}
.logo:hover{-webkit-filter:brightness(1.2)}
footer{border-top:1px solid #e6e6e6;font-size:15px}
.sign{margin-top:28px;margin-left:15px}
.works{margin:15px 0}
.works__col{padding:15px}
.works__item{position:relative;width:100%;padding-bottom:100%;border:1px solid #e6e6e6;-webkit-box-shadow:0 2px 10px #DDD;-moz-box-shadow:0 2px 10px #DDD;box-shadow:0 2px 10px #DDD;background:#fff;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;behavior:url(assets/css/PIE.htc);margin:0 auto;display:block;-webkit-transition:-webkit-box-shadow .174s;-moz-transition:-moz-box-shadow .174s;-o-transition:box-shadow .174s;transition:box-shadow .174s}
.works__item:hover{-webkit-box-shadow:0 4px 13px #D7D7D7;-moz-box-shadow:0 4px 13px #D7D7D7;box-shadow:0 4px 13px #D7D7D7}
.works__img{top:15px;bottom:15px;left:15px;right:15px;position:absolute;text-align:center;font-size:0;overflow:hidden}
.works__img img{max-width:100%;vertical-align:middle}
.works__img-shiv{display:inline-block;vertical-align:middle;height:100%;width:0}
.works__name{display:block;position:absolute;text-align:center;font-size:16px;padding:10px 0;border-top:1px solid #e6e6e6;background:#fff;left:15px;right:15px;color:#939393;bottom:0}
.carousel-headers h2{min-height:34px;background:#fff}
.carousel .slick-dots{position:absolute;top:5px;height:12px;width:100px;margin-left:-50px;left:50%;font-size:0;text-align:center}
.carousel .slick-dots li{display:inline-block;margin-left:5px}
.carousel .slick-dots li:first-child{margin-left:0}
.carousel .slick-dots li.slick-active button{background:#ababab}
.carousel .slick-dots button{width:12px;height:12px;display:block;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;background:0 0;border:1px solid #ababab;-webkit-box-shadow:0 1px 1px #ddd;-moz-box-shadow:0 1px 1px #ddd;box-shadow:0 1px 1px #ddd;behavior:url(assets/css/PIE.htc);cursor:pointer}
.arrow-l,.arrow-r{position:absolute;left:15px;top:50%;margin-top:-9px;background-image:url(../img/arrow-l.svg);background-repeat:no-repeat;background-position:0 0;width:20px;height:38px;cursor:pointer}
.arrow-r{left:auto;right:15px;background-image:url(../img/arrow-r.svg)}
.no-svg .arrow-r{background-image:url(../img/arrow-r.png)}
.no-svg .arrow-l{background-image:url(../img/arrow-l.png)}
@media only screen and (max-width:1200px){.arrow-l,.arrow-r{display:none!important}
}
.ir{background-color:transparent;border:0;overflow:hidden;*text-indent:-9999px}
.ir:before{content:"";display:block;width:0;height:150%}
.hidden{display:none!important;visibility:hidden}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}
.invisible{visibility:hidden}
.clearfix:after,.clearfix:before{content:" ";display:table}
.clearfix:after{clear:both}
.clearfix{*zoom:1}
@media print{*{background:0 0!important;color:#000!important;-webkit-box-shadow:none!important;-moz-box-shadow:none!important;box-shadow:none!important;text-shadow:none!important}
a,a:visited{text-decoration:underline}
a[href]:after{content:" (" attr(href) ")"}
abbr[title]:after{content:" (" attr(title) ")"}
.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}
blockquote,pre{border:1px solid #999;page-break-inside:avoid}
thead{display:table-header-group}
img,tr{page-break-inside:avoid}
img{max-width:100%!important}
@page{margin:.5cm}
h2,h3,p{orphans:3;widows:3}
h2,h3{page-break-after:avoid}
}
/*# sourceMappingURL=main.css.map */