extends ./layout.jade

block css
	link(rel="stylesheet", href="assets/plugins/slick-carousel/slick/slick.css")

block js
	script(src="assets/plugins/slick-carousel/slick/slick.min.js")
	script(src="assets/js/carousel.js")

block content
	.carousel-headers
		h2 Верстка
		h2 Приложения
	
	.carousel
		.works.clearfix
			mixin item(img, link, name, icon)
				.col-xs-12.col-sm-6.col-md-4.col-lg-3.works__col
					a(href=link, target="_blank").works__item
						.works__img
							img(src="assets/img/logos/#{img}.jpg", alt="")
							.works__img-shiv
						if name
							.works__name= name
						.works__icon
							if icon
								i.fa(class="fa-#{icon}")
							else
								i.fa.fa-external-link
			+item('spk','https://dl.wmcrm.ru/spk/www/index.html', 'производитель кровельных и фасадных материалов')
			+item('compress','https://dl.wmcrm.ru/compress/index.html')
			+item('billing','https://dl.wmcrm.ru/rc-online/index.html')
			+item('smu','https://dl.wmcrm.ru/smu/index.html','Строительная компания СМУ3')
			+item('vysoko','http://vysoko.wmcrm.ru/','Высоцкий')
			+item('lounge','https://dl.wmcrm.ru/lounge/index.html','Ресторан “Антарес Лаунж”')
			+item('ugmk','http://ummc.wmcrm.ru')
			+item('ekapay','/works/ekapay/index.html','Електронные деньги')
			+item('bierhof','http://bierhof.bar/')

		.works.clearfix
			+item('cordova','https://youtu.be/j3LzN6SwnxI','Мониторинг конструкций', 'youtube-play')
			+item('matrix','/works/matrix/index.html','расчет матриц онлайн')
