<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="author" content="NovaView")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		block title
			title NovaView
		link(rel="apple-touch-icon", sizes="57x57", href="assets/img/favicons/apple-touch-icon-57x57.png")
		link(rel="apple-touch-icon", sizes="60x60", href="assets/img/favicons/apple-touch-icon-60x60.png")
		link(rel="apple-touch-icon", sizes="72x72", href="assets/img/favicons/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon", sizes="76x76", href="assets/img/favicons/apple-touch-icon-76x76.png")
		link(rel="apple-touch-icon", sizes="114x114", href="assets/img/favicons/apple-touch-icon-114x114.png")
		link(rel="apple-touch-icon", sizes="120x120", href="assets/img/favicons/apple-touch-icon-120x120.png")
		link(rel="apple-touch-icon", sizes="144x144", href="assets/img/favicons/apple-touch-icon-144x144.png")
		link(rel="apple-touch-icon", sizes="152x152", href="assets/img/favicons/apple-touch-icon-152x152.png")
		link(rel="apple-touch-icon", sizes="180x180", href="assets/img/favicons/apple-touch-icon-180x180.png")
		link(rel="icon", type="image/png", href="assets/img/favicons/favicon-32x32.png", sizes="32x32")
		link(rel="icon", type="image/png", href="assets/img/favicons/android-chrome-192x192.png", sizes="192x192")
		link(rel="icon", type="image/png", href="assets/img/favicons/favicon-96x96.png", sizes="96x96")
		link(rel="icon", type="image/png", href="assets/img/favicons/favicon-16x16.png", sizes="16x16")
		link(rel="manifest", href="assets/img/favicons/manifest.json")
		link(rel="shortcut icon", href="/favicon.ico")
		meta(name="msapplication-TileColor", content="#ffffff")
		meta(name="msapplication-TileImage", content="assets/img/favicons/mstile-144x144.png")
		meta(name="msapplication-config", content="assets/img/favicons/browserconfig.xml")
		meta(name="theme-color", content="#ffffff")
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic' rel='stylesheet' type='text/css')
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
		link(rel="stylesheet", href="assets/plugins/bootstrap/less/bootstrap.css")
		//- link(rel="stylesheet", href="assets/plugins/fuelux/less/fuelux.css")
		//- link(rel="stylesheet", href="assets/plugins/magnific-popup/dist/magnific-popup.css")
		link(rel="stylesheet", href="assets/plugins/slick-carousel/slick/slick.css")
		link(rel="stylesheet", href="assets/css/main.css")
		block css

		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
		script.
		<!--[if (gte IE 6)&(lte IE 8)]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	body
		<!--[if lt IE 8]>
		<p class="browsehappy">Вы используете <strong>устаревшую</strong> версию браузера. Пожалуйста <a href="http://browsehappy.com/">обновите ваш браузер</a> до последней версии.</p>
		<![endif]-->
		.page
			// HEAD BEGIN
			header
				.container.clearfix
					a(href="#").logo
						img(src="assets/img/logo-svg.svg", data-no-svg="assets/img/logo.png" alt="")
			// HEAD END
			// MAIN BEGIN
			.section
				.container
					block content
			// MAIN END
			.footer-shiv
		// FOOTER BEGIN
		footer
			.container.clearfix
				.sign © NovaView
					br
					| Екатеринбург
				.socials
					a(href="https://www.facebook.com/profile.php?id=100011182542232" target="_blank").social-icon
						i.fa.fa-facebook
					a(href="http://vk.com/vtolstikov" target="_black").social-icon.social-icon_vk
						i.fa.fa-vk
		// FOOTER END
		script(src="assets/js/vendor/modernizr-2.6.2.min.js")
		script(src="assets/js/main.js")
		block js
		