* {
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body {
    padding: 0;
    margin: 0
}

html {
    -webkit-text-size-adjust: 100%
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

:focus {
    outline-width: 0
}

img {
    border: 0
}

textarea {
    overflow: auto;
    resize: none
}

a {
    background: transparent
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

q:before {
    content: '* ';
    color: #f00
}

button {
    border: none;
    outline: none
}

input {
    outline: none
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
    height: 0
}

.clearfix:after {
    clear: both
}

.opacity {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5)
}

.modal {
    display: none;
    position: fixed;
    z-index: 11
}

html,
body {
    height: 100%
}

body {
    -webkit-backface-visibility: hidden;
    font: 14px 'myriad', sans-serif
}

h1,
h2,
h3,
h4 {
    font-family: 'myriad-cond', arial, sans-serif;
    text-transform: uppercase;
    font-size: 48px;
    color: #696969;
    font-weight: normal;
    margin: 50px 0 24px 0
}

h2 {
    font-size: 36px;
    margin: 20px 0 10px;
    line-height: 40px
}

h3 {
    font-size: 30px;
    line-height: 33px;
    margin: 20px 0 10px
}

h4 {
    font-size: 24px;
    margin: 20px 0 10px;
    line-height: 27px
}

p {
    font-size: 16px;
    margin: 10px 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

ol,
ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative
}

ul li:before {
    position: absolute;
    left: 0;
    display: block;
    content: '*';
    width: 8px;
    color: transparent;
    background: url(../assets/front/img/list.png) 0 50% no-repeat
}

ul li {
    margin-left: 18px;
    margin-bottom: 16px
}

ol {
    counter-reset: num
}

ol li:before {
    position: absolute;
    left: 0;
    display: block;
    content: counter(num) ') ';
    counter-increment: num;
    color: #4d95d9
}

ol li {
    margin-left: 18px;
    margin-bottom: 16px
}

sup {
    color: #4d95d9
}

cite hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #4d95d9;
    margin: 1em 0;
    padding: 0;
    width: 130px
}

cite p {
    margin: 6px 0
}

cite {
    color: #959595;
    font-size: 12px;
    font-style: normal
}

blockquote {
    border: 2px solid #4d95d9;
    margin: 16px 0;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    behavior: url('pie.htc');
    font-size: 16px
}

blockquote:after {
    content: '';
    display: block;
    clear: both
}

blockquote i {
    float: right;
    color: #868686;
    margin-top: 40px
}

table {
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    margin: 16px 0px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    behavior: url('pie.htc');
    overflow: hidden
}

table thead th {
    font-weight: bold;
    background: #ECF6FF;
    padding: 6px 0;
    text-align: center
}

table tbody td {
    text-align: center;
    padding: 6px 20px;
    background: #fff
}

table tbody tr {
    border-top: 1px solid #ddd
}

table tbody tr:first-child {
    border: none
}

table caption {
    height: 30px;
    font-weight: bold;
    font-size: 16px;
    background: #D8EDFF;
    line-height: 30px;
    margin-bottom: 1px
}

.important {
    padding: 15px 20px 15px 40px;
    border: 2px solid #FFE259;
    background: url(../assets/front/img/important.png) 10px 13px no-repeat;
    margin: 16px 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    behavior: url('pie.htc')
}

.important p {
    margin: 0
}

.empty {
    height: 76px
}

a {
    color: #1571bc
}

a:hover {
    text-decoration: none
}

.img {
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    behavior: url('pie.htc')
}

.img img {
    float: left
}

.mr50 {
    margin-right: 50px !important
}

.mt0 {
    margin-top: 0 !important
}

.mb0 {
    margin-bottom: 0 !important
}

.content {
    position: relative;
    width: 960px;
    margin: 0 auto
}

.head,
.main,
.footer {
    width: 100%
}

.head {
    position: relative;
    z-index: 1;
    background: #fff;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.25);
    behavior: url('pie.htc')
}

.main {
    position: relative;
    min-width: 960px
}

.main:before,
.main:after {
    content: " ";
    display: table;
    height: 0
}

.main:after {
    clear: both
}

.head {
    height: 100px;
    border-bottom: 1px solid #c9c9c9
}

.h2 {
    margin-top: 0;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 24px;
    font-family: 'myriad-cond', sans-serif;
    text-align: center;
    color: #716f6f
}

.p {
    font-size: 16px
}

.p_w {
    color: #fff
}

.logo {
    width: 100px;
    height: 100px;
    float: left
}

.logo img {
    margin-top: 8px;
    float: left
}

.nav {
    float: left;
    width: 300px;
    background: 0 0 no-repeat;
    background-image: url('../assets/front/img/shadow-logo.png')
}

.nav__ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 12px;
    margin-left: 32px;
    float: left
}

.nav__ul li:before {
    display: none
}

.nav__li {
    margin: 0;
    line-height: 25px;
    font-size: 14px;
    text-transform: uppercase
}

.nav__a {
    text-decoration: none;
    color: #a6a6a6
}

.nav__a.active,
.nav__a:hover {
    color: #0cc1f8
}

.status {
    display: block;
    color: inherit;
    text-decoration: none;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 490px;
    width: 113px;
    height: 124px;
    background: 0 0 no-repeat;
    background-image: url('../assets/front/img/status.png');
    text-transform: uppercase;
    text-align: center
}

.status__check,
.status__status,
.status__request {
    padding-right: 10px;
    font-family: 'myriad-cond', sans-serif
}

.status__check {
    font-size: 20px;
    padding-right: 10px;
    margin-top: 5px
}

.status__status {
    font-size: 32px;
    padding-right: 10px;
    color: #fff;
    margin-top: 15px;
    line-height: 20px;
    text-shadow: 2px 2px 0 #5abbf6
}

.status__request {
    font-size: 29px;
    padding-right: 10px
}

.login-field {
    position: absolute;
    top: 10px;
    left: 490px;
    width: 168px;
    height: 68px
}

.login {
    position: relative;
    width: 168px;
    height: 30px;
    background: #000;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background-image: linear-gradient(to bottom, #363636 0, #1f1f1f 100%);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff363636', endColorstr='#ff1f1f1f', GradientType=0);
    box-shadow: 0 10px 22px #d8d8d8, inset 0 0 10px #000;
    -webkit-box-shadow: 0 10px 22px #d8d8d8, inset 0 0 10px #000;
    -moz-box-shadow: 0 10px 22px #d8d8d8, inset 0 0 10px #000;
    behavior: url('pie.htc');
    border: 2px solid #fff
}

.login__link {
    margin-top: 16px;
    margin-right: 5px;
    text-align: right
}

.login__link a {
    display: block;
    width: 100%;
    color: #24b1e3;
    font-size: 12px;
    font-family: 'myriad-italic', sans-serif
}

.login__login,
.login__pass {
    float: left;
    width: 76px;
    height: 18px;
    font-size: 15px;
    padding: 2px 5px;
    border: none;
    background: none;
    color: #fff;
    margin-top: 4px;
    border-right: 2px solid #555;
    text-align: center
}

.login__login::-moz-placeholder,
.login__pass::-moz-placeholder {
    color: #fff
}

.login__login:-ms-input-placeholder,
.login__pass:-ms-input-placeholder {
    color: #fff
}

.login__login::-webkit-input-placeholder,
.login__pass::-webkit-input-placeholder {
    color: #fff
}

.login__pass {
    width: 86px;
    border-right: none
}

.callback {
    float: right;
    width: 128px;
    margin-left: 42px;
    margin-top: 14px
}

.callback__phone {
    color: #0cc1f8;
    font-family: 'myriad-bold', sans-serif;
    font-size: 16px
}

.callback__desc {
    font-size: 16px;
    font-family: 'myriad-cond', sans-serif;
    color: #8c8c8c
}

.callback__button {
    position: relative;
    height: 27px;
    display: block;
    color: inherit;
    text-decoration: none;
    display: inline-block;
    margin-left: 8px;
    margin-top: 3px;
    padding: 3px 4px;
    font-size: 17px;
    line-height: 21px;
    font-family: 'myriad-cond', sans-serif;
    color: #fff !important;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #5292c6;
    background: 0 0 repeat-x;
    background-image: url('../assets/front/img/but.png')
}

.callback__button:before,
.callback__button:after {
    position: absolute;
    height: 27px;
    top: 0;
    left: -8px;
    display: block;
    content: '';
    padding-right: 8px;
    background: 0 0 no-repeat;
    background-image: url('../assets/front/img/l-but.png')
}

.callback__button:after {
    right: -8px;
    left: auto;
    background-image: url('../assets/front/img/r-but.png')
}

.lang {
    float: right;
    margin-top: 10px;
    width: 95px;
    height: 68px
}

.lang__hours {
    width: 100%;
    margin-top: -4px;
    padding-top: 16px;
    font-size: 14px;
    color: #757575;
    background: 0 0 no-repeat;
    background-image: url('../assets/front/img/shadow-lang.png');
    line-height: 14px;
    text-transform: uppercase
}

.lang__hours__p {
    margin: 0;
    font-size: 14px
}

.lang__hours__p:first-child {
    text-transform: none
}

.main__img {
    height: 565px;
    background: center center no-repeat;
    background-image: url('../assets/front/img/bg.jpg')
}

.docs {
    padding-bottom: 80px
}

.docs .content {
    padding: 0 75px
}

.docs__a {
    height: 54px;
    display: table;
    text-decoration: underline;
    margin-bottom: 10px;
    color: #1571bc;
    font-family: 'myriad-italic', arial, sans-serif;
    font-size: 14px;
    padding-top: 24px
}

.docs__a:hover {
    text-decoration: none
}

.docs__a.pdf,
.docs__a.zip,
.docs__a.doc {
    padding-left: 60px;
    background: 0 0 no-repeat;
    background-image: url('../assets/front/img/pdf.png')
}

.docs__a.zip {
    background-image: url('../assets/front/img/zip.png')
}

.docs__a.doc {
    background-image: url('../assets/front/img/doc.png')
}

.faq,
.news {
    padding-bottom: 80px;
    font-family: 'myriad-cond', arial, sans-serif
}

.faq .content,
.news .content {
    padding: 0 75px
}

.faq__h1,
.news__h1 {
    font-family: 'myriad-cond', arial, sans-serif;
    text-transform: uppercase;
    font-size: 48px;
    color: #696969;
    margin-top: 50px;
    font-weight: normal;
    margin-bottom: 24px
}

.faq__h3,
.news__h3 {
    font-size: 24px;
    font-weight: normal;
    color: #696969;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 27px
}

.faq__h3 a,
.news__h3 a {
    color: inherit
}

.faq__p,
.news__p {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0
}

.faq__b,
.news__b {
    text-transform: uppercase;
    font-weight: normal;
    color: #00799F;
    margin-right: 5px
}

.news__date {
    font-size: 14px;
    color: #696969
}

.partner__img {
    padding-bottom: 80px
}

.partner__img h2 {
    margin-bottom: 45px
}

.partner__img .content {
    padding: 0 75px
}

.oplata blockquote,
.partner blockquote {
    border-color: #fff
}

.oplata ol li:before,
.partner ol li:before {
    color: #fff
}

.oplata *,
.partner * {
    color: #fff
}

.oplata table *,
.partner table * {
    color: #222
}

.oplata p,
.partner p {
    font-size: 16px;
    color: #fff
}

.oplata ul li,
.partner ul li,
.vvod ul li {
    list-style-type: disc
}

.oplata ul li:before,
.partner ul li:before,
.vvod ul li:before {
    display: none
}

.partner {
    background: center top no-repeat #6cb036;
    background-image: url('../assets/front/img/bg-partner.png')
}

.oplata {
    background-repeat: no-repeat;
    background-color: #35A4D1;
    background-image: url('../assets/front/img/bg-oplata.png')
}

.vvod {
    background-repeat: no-repeat;
    background-color: #FFC757;
    background-image: url('../assets/front/img/bg-vvod.png')
}

.vvod * {
    color: #222
}

.vvod table * {
    color: #222
}

.vvod blockquote {
    border-color: #fff
}

.vvod ol li:before {
    color: #222
}

.push_block {
    margin-bottom: 88px
}

.push_block:before,
.push_block:after {
    content: " ";
    display: table;
    height: 0
}

.push_block:after {
    clear: both
}

.slogan__h1,
.slogan__h2 {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 24px;
    margin-top: 50px;
    font-family: 'myriad-bold-cond', sans-serif;
    color: #fff;
    text-align: center
}

.slogan__h1 span,
.slogan__h2 span {
    padding: 8px 10px;
    background: #539DD2
}

.slogan__h1 {
    margin-bottom: 28px
}

.slogan__h2 {
    font-size: 24px;
    font-family: 'myriad-cond', sans-serif;
    font-weight: normal;
    line-height: 10px;
    margin-top: 0;
    margin-bottom: 20px
}

.slogan__h2 span {
    padding: 5px 10px
}

.slogan__h2 b {
    font-weight: normal;
    font-family: 'myriad-bold-cond'
}

.action {
    width: 800px;
    height: 270px;
    margin: 50px auto
}

.action__enter,
.action__pay,
.action__partnership {
    min-width: 220px;
    position: relative;
    display: inline-block;
    float: left;
    margin-right: 69px;
    background: 2px top no-repeat;
    text-align: center;
    background-image: url('../assets/front/img/wallet.png')
}

.action__pay {
    background-image: url('../assets/front/img/coin.png')
}

.action__partnership {
    margin-right: 0;
    background-image: url('../assets/front/img/man.png')
}

.action__button {
    margin: 0px 8px;
    height: 46px;
    position: relative;
    display: block;
    color: inherit;
    text-decoration: none;
    display: inline-block;
    margin-left: 8px;
    margin-top: 220px;
    padding: 8px 4px;
    font-size: 24px;
    line-height: 30px;
    font-family: 'myriad-cond', sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #5292c6;
    background: 0 0 repeat-x;
    text-decoration: underline;
    background-image: url('../assets/front/img/but-a.png')
}

.action__button:before,
.action__button:after {
    position: absolute;
    height: 46px;
    top: 0;
    left: -8px;
    display: block;
    content: '';
    padding-right: 8px;
    background: 0 0 no-repeat;
    background-image: url('../assets/front/img/l-but-a.png')
}

.action__button:after {
    right: -8px;
    left: auto;
    background-image: url('../assets/front/img/r-but-a.png')
}

.ellips {
    position: absolute;
    top: -76px;
    width: 470px;
    height: 76px;
    left: 50%;
    margin-left: -235px;
    background-image: url('../assets/front/img/ellips.png')
}

.push {
    display: block;
    color: inherit;
    text-decoration: none;
    position: absolute;
    z-index: 1;
    left: 50%;
    width: 341px;
    height: 348px;
    margin-left: -170px;
    top: -76px;
    background: 0 0 no-repeat;
    text-align: center;
    background-image: url('../assets/front/img/push.png')
}

.push p {
    color: #0083D6;
    padding-top: 120px;
    font-family: 'myriad-cond';
    text-transform: uppercase;
    font-size: 22px;
    text-shadow: 0 1px 0 #fff
}

.push p strong {
    font-size: 26px;
    font-weight: normal
}

.systems {
    position: relative;
    width: 100%;
    height: 216px
}

.systems:before,
.systems:after {
    content: " ";
    display: table;
    height: 0
}

.systems:after {
    clear: both
}

.systems:before,
.systems:after {
    position: absolute;
    bottom: 0;
    height: 35px;
    width: 100%;
    display: block;
    content: '';
    background: 0 0 no-repeat;
    background-image: url('../assets/front/img/shadow-system-b.png')
}

.systems:before {
    height: 50px;
    position: static;
    background-image: url('../assets/front/img/shadow-system.png')
}

.system {
    width: 120px;
    height: 60px;
    float: left;
    margin-right: 160px;
    margin-top: 10px
}

.system.wm {
    margin-right: 0
}

.social,
.recieved {
    width: 255px;
    margin-top: 110px;
    float: left;
    height: 70px;
    font-size: 30px;
    line-height: 40px;
    color: #716f6f;
    text-transform: uppercase;
    font-family: 'myriad-cond', sans-serif
}

.social a,
.recieved a {
    display: block;
    color: inherit;
    text-decoration: none;
    float: left;
    margin-right: 14px;
    width: 32px;
    height: 32px;
    background: 0 0 no-repeat;
    background-image: url('../assets/front/img/social-round.png')
}

.recieved {
    float: right;
    line-height: 34px
}

.recieved__p {
    font-size: 30px;
    margin: 0;
    font-family: 'myriad-bold', sans-serif;
    color: #4c95d9
}

.under-main {
    position: relative
}

.under-main:before,
.under-main:after {
    content: " ";
    display: table;
    height: 0
}

.under-main:after {
    clear: both
}

.article {
    margin-top: 32px;
    margin-bottom: 50px
}

.article p {
    color: #373737
}

.footer {
    border-top: 1px solid #a5a5a5;
    padding: 30px 0;
    background: #cfcfcf;
    box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.25);
    behavior: url('pie.htc')
}

.footer:before,
.footer:after {
    content: " ";
    display: table;
    height: 0
}

.footer:after {
    clear: both
}

.footer__left {
    width: 190px;
    float: left
}

.footer__left a {
    display: inline-block
}

.footer__left img {
    margin-right: 12px;
    margin-bottom: 10px
}

.footer__center {
    float: left;
    width: 620px
}

.footer__center p {
    margin: 0
}

.footer__right {
    float: right
}

.footer__right p {
    margin-top: 0;
    text-align: right
}

.footer p {
    font-size: 12px;
    line-height: 12px
}

.attestat {
    width: 70px;
    display: block;
    float: right;
    vertical-align: top;
    font-size: 12px;
    color: #000;
    margin-right: 20px;
    text-transform: uppercase
}

.wave {
    position: relative;
    width: 100%;
    height: 60px;
    margin-top: -10px;
    background-repeat: repeat-x;
    background-image: url('../assets/front/img/wave.png');
    box-shadow: inset 0 -20px 20px #6cb036
}

.wave.blue {
    background-image: url('../assets/front/img/wave-blue.png');
    box-shadow: inset 0 -20px 20px #35a4d1
}

.wave.yellow {
    background-image: url('../assets/front/img/wave-yellow.png');
    box-shadow: inset 0 -20px 20px #ffc757
}

.wrapper {
    min-height: 100%;
    padding-bottom: 413px
}

.wrapper_nopad {
	padding: 0;
}

.wrapper.blue {
    background: #35A4D1
}

.wrapper.yellow {
    background: #FFC757
}

.wrapper.green {
    background: #6CB036
}

.footer_wrapper {
    position: relative;
    background: #fff;
    margin-top: -413px
}

.your-city {
    font-size: 17px;
    line-height: 17px;
    font-family: 'myriad-cond', arial, sans-serif;
    color: #73A3C1;
    padding: 8px 0 13px
}

.your-city p {
    margin: 0
}

.your-city__a {
    padding-left: 5px;
    color: inherit
}

.b18 {
    position: absolute;
    bottom: -5px
}

.cities {
    overflow: hidden;
    max-height: 0;
    transition: max-height .4s
}

.cities:before,
.cities:after {
    content: " ";
    display: table;
    height: 0
}

.cities:after {
    clear: both
}

.cities__ul {
    margin: 0;
    list-style: none;
    padding: 0;
    margin: 30px;
    width: 125px;
    float: left;
    margin-right: 0;
    margin-left: 75px
}

.cities__ul li:before {
    display: none
}

.cities__ul:first-child {
    margin-left: 30px
}

.cities__li {
    margin: 0;
    font-size: 17px;
    line-height: 22px;
    font-family: 'myriad-cond', arial, sans-serif;
    color: #73A3C1
}

.cities__a {
    text-decoration: none;
    color: inherit
}

.cities.expand {
    max-height: 500px
}

.white-popup {
    width: 870px;
    border-radius: 46px;
    -webkit-border-radius: 46px;
    -moz-border-radius: 46px;
    behavior: url('pie.htc');
    position: relative;
    background: #FFF;
    padding: 20px 60px 40px;
    margin: 60px auto
}

.white-popup:before,
.white-popup:after {
    content: " ";
    display: table;
    height: 0
}

.white-popup:after {
    clear: both
}

button.mfp-close {
    opacity: 1;
    font-size: 0;
    position: absolute;
    top: -35px;
    right: 0;
    width: 50px;
    height: 100px;
    background: #fff;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-repeat: no-repeat;
    background-position: 50% 10px;
    background-image: url('../assets/front/img/close.png')
}

.popup__h1 {
    font-size: 36px;
    text-transform: uppercase;
    font-family: 'myriad-cond', arial, sans-serif;
    color: #8a8989;
    font-weight: normal;
    line-height: 40px;
    margin: 6px 0
}

.popup__h1.ib {
    display: inline-block;
    float: left
}

.popup__h1.fr {
    float: right
}

.popup__header {
    white-space: nowrap
}

.popup__header:before,
.popup__header:after {
    content: " ";
    display: table;
    height: 0
}

.popup__header:after {
    clear: both
}

.popup__under-header {
    margin-top: 45px
}

.popup__under-header:before,
.popup__under-header:after {
    content: " ";
    display: table;
    height: 0
}

.popup__under-header:after {
    clear: both
}

.choose-method {
    position: relative;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 20px;
    margin-left: -90px;
    width: 158px;
    height: 54px;
    background-repeat: repeat-x;
    padding: 0.5px 0px;
    background-image: url('../assets/front/img/but-trigger.png')
}

.choose-method:before,
.choose-method:after {
    position: absolute;
    top: 0;
    left: -16px;
    content: '';
    display: block;
    height: 54px;
    width: 16px;
    background-repeat: no-repeat;
    background-image: url('../assets/front/img/but-trigger-l.png')
}

.choose-method:after {
    left: auto;
    right: -16px;
    background-image: url('../assets/front/img/but-trigger-r.png')
}

.choose-method__vvod,
.choose-method__roller {
    position: absolute;
    display: block;
    color: inherit;
    top: 0;
    left: 0;
    padding: 10px 0;
    line-height: 30px;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    text-transform: none;
    font-family: 'myriad-cond', arial, sans-serif;
    cursor: pointer
}

.choose-method__vvod.r,
.choose-method__roller.r {
    left: auto;
    right: 0
}

.choose-method__roller {
    cursor: default;
    padding: 0px;
    position: relative;
    z-index: 1;
    width: 82px;
    height: 52px;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-image: url('../assets/front/img/trigger.png')
}

.choose-method input[type=radio] {
    display: none
}

.roller-block {
    margin-right: -16px;
    min-width: 188px;
    float: right;
    display: inline-block;
    transition: min-width .5s
}

.roller-block.toright {
    min-width: 40%
}

.choose-cash {
    width: 370px;
    float: left
}

.choose-cash input[type=radio] {
    display: none
}

.choose-cash__link {
    float: left;
    font-size: 30px;
    line-height: 36px;
    color: #8a8989;
    margin-bottom: 6px;
    text-transform: uppercase;
    font-family: 'myriad-cond', arial, sans-serif;
    cursor: pointer
}

.choose-cash__link.right {
    float: right
}

.choose-cash__line {
    position: relative;
    height: 9px;
    border-bottom: 1px solid #797979
}

.choose-cash__trigger {
    position: absolute;
    z-index: 1;
    left: 52px;
    bottom: -9px;
    height: 18px;
    width: 18px;
    background-repeat: no-repeat;
    transition: left .5s;
    background-image: url('../assets/front/img/trigger-cash.png')
}

.choose-cash__trigger.move {
    left: 300px
}

.info-course {
    width: 260px;
    float: right
}

.info-course__ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-left: 20px;
    display: inline-block
}

.info-course__ul li:before {
    display: none
}

.info-course__li {
    margin: 0;
    font-size: 18px;
    line-height: 22px
}

.info-course__i {
    margin-right: 8px;
    text-align: center
}

.info-course__i img {
    vertical-align: top
}

.popup-form {
    margin-top: 45px
}

.popup-form__left {
    width: 300px;
    float: left
}

.popup-form__right {
    width: 430px;
    float: right
}

.popup-form__label {
    display: block;
    font-size: 16px;
    line-height: 18px;
    height: 18px;
    white-space: nowrap;
    clear: both;
    font-family: 'myriad-cond', arial, sans-serif;
    text-transform: uppercase;
    color: #8a8989
}

.popup-form__input {
    margin: 0 6px 12px 0;
    float: left;
    font-size: 16px;
    font-family: 'myriad-cond', arial, sans-serif;
    text-transform: uppercase;
    color: #8a8989;
    width: 215px;
    height: 26px;
    padding: 0 12px;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #d0d0d2;
    box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.13);
    behavior: url('pie.htc')
}

.popup-form__input.small {
    width: 72px
}

.popup-form__input.middle {
    width: 137px
}

.popup-form__check {
    width: 24px;
    background: #fff 50% 50% no-repeat;
    cursor: pointer
}

.popup-form__price {
    float: left;
    margin: 5px 0 10px;
    height: 36px
}

.popup-form__price__label {
    float: left;
    width: 70px;
    height: 36px;
    border-right: 1px dashed #cecdcd;
    font-size: 16px;
    font-family: 'myriad-cond', arial, sans-serif;
    text-transform: uppercase;
    color: #8a8989
}

.popup-form__sum {
    margin-left: 12px;
    width: 160px;
    float: left;
    white-space: nowrap;
    font-size: 36px;
    line-height: 36px;
    color: #cecdcd;
    font-family: 'myriad-cond', arial, sans-serif
}

.popup-form__sum span {
    font-size: 24px
}

.button-send-request {
    position: relative;
    margin-top: 25px;
    width: 260px;
    height: 260px;
    background-repeat: no-repeat;
    background-position: 50% 0;
    cursor: pointer;
    background-image: url('../assets/front/img/but-send-request.png')
}

.button-send-request__input {
    width: 100%;
    height: 260px;
    border: 0;
    background-color: transparent
}

.button-send-request__label {
    position: absolute;
    top: 90px;
    display: block;
    width: 260px;
    text-align: center;
    color: #0083D6;
    font-size: 24px;
    line-height: 27px;
    text-transform: uppercase;
    font-family: 'myriad-cond', arial, sans-serif;
    cursor: pointer;
    text-shadow: 1px 1px 0 #fff;
    -webkit-text-shadow: 1px 1px 0 #fff;
    -moz-text-shadow: 1px 1px 0 #fff;
    behavior: url('pie.htc')
}

.button-send-request__label strong {
    font-weight: normal;
    font-size: 36px
}

.passport {
    width: 100%;
    height: 600px;
    margin-top: 12px;
    padding: 20px 26px;
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-image: url('../assets/front/img/passport.png');
    font-family: 'book_bold', serif;
    font-size: 12px;
    color: #735965
}

.passport input,
.passport textarea {
    font-size: 18px
}

.passport__h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    margin-top: 0;
    height: 12px;
    font-weight: normal;
    letter-spacing: 0.7em
}

.passport .popup-form__input {
    font-family: 'book_bold', serif;
    float: right;
    height: 24px;
    line-height: 18px;
    margin-right: 3px;
    color: #735965;
    text-transform: none;
    padding: 5px
}

.passport .passport__textarea {
    height: 67px;
    width: 260px;
    font-size: 12px
}

.passport__label {
    display: inline-block;
    padding: 6px
}

.passport__date {
    float: left;
    width: 176px
}

.passport__date input {
    font-size: 16px;
    line-height: 16px;
    width: 85px
}

.passport__code {
    display: inline-block;
    width: 202px
}

.passport__code input {
    font-size: 16px;
    width: 68px
}

.passport__number {
    margin-top: 10px;
    width: 160px;
    float: right;
    clear: both
}

.passport__number input {
    float: left !important;
    text-align: center;
    width: 32px;
    margin-bottom: 0;
    padding: 5px
}

.passport__number input.large {
    width: 70px
}

.passport__number label {
    padding-left: 0
}

.passport__p {
    width: 150px;
    clear: both;
    float: right;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    margin: 0;
    margin-top: 3px
}

.passport__left {
    float: left;
    width: 135px;
    margin-right: 5px;
    margin-left: -18px
}

.passport__right {
    float: right;
    width: 250px
}

.passport__right:before,
.passport__right:after {
    content: " ";
    display: table;
    height: 0
}

.passport__right:after {
    clear: both
}

.passport__name,
.passport__surname,
.passport__motherland {
    margin-bottom: 8px
}

.passport__name input,
.passport__surname input,
.passport__motherland input {
    width: 175px;
    margin-bottom: 0
}

.passport__male {
    display: inline-block;
    width: 50%
}

.passport__male label.male {
    padding-left: 0;
    font-size: 18px;
    text-transform: uppercase
}

.passport__birthday {
    width: 50%;
    float: right;
    margin-top: 5px
}

.passport__birthday label {
    width: 38px;
    padding: 0;
    line-height: 12px
}

.passport__birthday input {
    font-size: 16px;
    width: 84px
}

.passport__birthplace label {
    width: 40px;
    line-height: 12px;
    float: left
}

.passport__birthplace textarea {
    font-size: 14px;
    line-height: 18px;
    width: 200px;
    height: 50px !important;
    margin-bottom: 0
}

.passport__apply {
    position: relative
}

.passport__apply a {
    color: inherit
}

.passport__apply input {
    display: none
}

.passport__apply input:checked~.popup-form__check,
.passport__apply input:checked~.passport__check {
    background-image: url('../assets/front/img/check-data.png')
}

.passport__check {
    width: 24px;
    left: -32px;
    top: 10px;
    position: absolute;
    background: #fff 50% 50% no-repeat;
    cursor: pointer
}

.passport__first-page {
    height: 320px
}

.upper-verify {
    position: absolute;
    left: 0;
    margin-top: -92px;
    padding: 0 60px;
    width: 100%;
    height: 92px;
    border-bottom: 1px solid #cecdcd;
    border-radius: 46px;
    -webkit-border-radius: 46px;
    -moz-border-radius: 46px;
    behavior: url('pie.htc')
}

.verify {
    position: relative
}

.verify__h1 {
    margin: 20px 0
}

.verify__h3 {
    text-transform: uppercase;
    font-family: 'myriad-cond', arial, sans-serif;
    font-size: 24px;
    color: #acabab;
    margin: 0 0 15px;
    font-weight: normal
}

.verify__table {
    width: auto
}

.verify__tr {
    border-top: none
}

.verify__td {
    padding: 0;
    text-align: left;
    padding-right: 20px;
    max-width: 160px;
    font-family: 'myriad-cond', arial, sans-serif;
    font-size: 16px;
    vertical-align: top
}

.verify__left {
    float: left;
    width: 285px;
    border-right: 1px dashed #cecdcd
}

.verify__right {
    display: inline-block;
    margin-left: 60px
}

.verify__submit {
    position: relative;
    margin: 30px 0 0 16px;
    top: auto;
    left: auto;
    width: auto;
    line-height: 50px;
    padding: 0 10px;
    white-space: nowrap;
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-family: 'myriad-cond', arial, sans-serif;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    -webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    -moz-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    behavior: url('pie.htc')
}

.icon {
    height: 48px;
    color: #6793b7;
    font-size: 24px;
    line-height: 30px;
    display: block;
    width: 200px;
    float: left;
    padding: 10px 0;
    text-decoration: none;
    font-family: 'myriad-cond', arial, sans-serif;
    margin: 15px 75px 15px 0
}

.icon:nth-of-type(3n) {
    margin-right: 0
}

.icon i {
    line-height: 48px;
    margin-right: 30px;
    text-align: center
}

.icon i img {
    vertical-align: middle
}

.big-icon {
    position: relative;
    width: 240px;
    overflow: hidden;
    height: 240px;
    display: block;
    float: left;
    margin: 0 45px 40px 0;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    behavior: url('pie.htc');
    text-decoration: none;
    text-align: center
}

.big-icon:nth-of-type(3n) {
    margin-right: 0
}

.big-icon span {
    position: absolute;
    bottom: 10px;
    display: block;
    width: 100%;
    padding: 10px 20px 0;
    color: #fff;
    font-size: 24px;
    line-height: 27px;
    font-family: 'myriad-bold-cond', arial, sans-serif;
    text-transform: uppercase;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(119, 119, 119, 0.6), 0 -1px 0 rgba(119, 119, 119, 0.6), 1px 0 0 rgba(119, 119, 119, 0.6), -1px 0 0 rgba(119, 119, 119, 0.6)
}

span.big-icon__full-list {
    position: relative;
    display: inline-block;
    padding: 0;
    font-size: 22px;
    width: auto;
    text-transform: none;
    color: #fff;
    border-bottom: 1px dashed;
    border-bottom-color: initial;
    line-height: 1.2;
    text-decoration: none;
    cursor: pointer;
    text-shadow: none;
    font-family: 'myriad-cond', inherit;
    line-height: 22px
}

.big-icon:first-child {
    overflow: visible;
    box-shadow: none
}
